In [12]:
import pandas as pd
import pyarrow.fs as fs

In [13]:
INPUT_PATH = "recommendation-system/data/gold/user_stats/"
# Create an S3-compatible filesystem for MinIO
s3 = fs.S3FileSystem(
    access_key="minioadmin",
    secret_key="minioadmin",
    endpoint_override="http://minio:9000",  # MinIO endpoint
)

In [14]:
df = pd.read_parquet(INPUT_PATH, filesystem=s3)
df.head()

    UserID  mean_rating  std_rating  rated_movies version_date
0  1568841     3.628536    1.011507           813   2025-12-11
1   515016     2.236842    1.365635            38   2025-12-11
2   411290     3.703348    0.954986          3435   2025-12-11
3  1260386     3.137255    0.767466            51   2025-12-11
4  2169359     3.047156    1.091622          1336   2025-12-11

In [15]:
df[df["UserID"] == "1130712"]

         UserID  mean_rating  std_rating  rated_movies version_date
106449  1130712     3.588679    0.907341           265   2025-12-11

In [16]:
df[df["UserID"] == "2536322"]

         UserID  mean_rating  std_rating  rated_movies version_date
268293  2536322     3.331765    0.783989           850   2025-12-11