In [1]:
import pandas as pd
import pyarrow.fs as fs

In [2]:
INPUT_PATH = "recommendation-system/data/gold/user_user_corr/"
# Create an S3-compatible filesystem for MinIO
s3 = fs.S3FileSystem(
    access_key="minioadmin",
    secret_key="minioadmin",
    endpoint_override="http://minio:9000",  # MinIO endpoint
)

In [ ]:
df = pd.read_parquet(INPUT_PATH, filesystem=s3)
df.head(20)

      user1    user2   correlation  join_rated_movies        date
0    412183   645202           NaN                  1  2025-12-11
1   1213475  1635209  1.000000e+00                  2  2025-12-11
2   2396087   884399           NaN                  2  2025-12-11
3    517500   582321 -5.267102e-01                 13  2025-12-11
4   1895504   884399 -8.246150e-18                  6  2025-12-11
5    437055   644905 -1.000000e+00                  2  2025-12-11
6   2249758   348292           NaN                  2  2025-12-11
7   2376364  2576966           NaN                  2  2025-12-11
8   2337017   714682           NaN                  1  2025-12-11
9     15396   320226  1.581139e-01                  6  2025-12-11
10  1126107  2491478  7.567943e-03                 13  2025-12-11
11  1408973   356264  3.429972e-01                  6  2025-12-11
12  1170366  1545783 -8.874101e-17                  4  2025-12-11
13  1170366  1387773 -8.660254e-01                  3  2025-12-11
14  1130712  2536322           NaN                  4  2025-12-11
15  2580719   312735           NaN                  2  2025-12-11
16  1638114  1783422           NaN                  1  2025-12-11
17  2357970   351708           NaN                  1  2025-12-11
18  1898323   964032           NaN                  1  2025-12-11
19  1011972  2583734           NaN                  1  2025-12-11

In [4]:
len(df)

309405

In [14]:
df[(df["user1"] == "1130712") & (df["user2"] == "2536322")]

      user1    user2  correlation  join_rated_movies        date
14  1130712  2536322          NaN                  4  2025-12-11